/*
!/.gitignore
!/.gitlab-ci.yml
!/README.md
!/DEVELOPMENT.md
!/Makefile
!/setup.py
!/setup.cfg
!/MANIFEST.in
!/pytest.ini
!/tox.ini
!/.coveragerc
!/async_reduce/
!/tests/
!/LICENSE
!/versioning.py
!/TODO.md
!/examples/
!/.coverage/.keep
!/CHANGELOG.md
!/CONTRIBUTORS.md
*__pycache__*
