/*
!/.coverage/.keep
!/.coveragerc
!/.gitignore
!/.gitlab-ci.yml
!/async_reduce/
!/CHANGELOG.md
!/CONTRIBUTORS.md
!/DEVELOPMENT.md
!/examples/
!/LICENSE
!/Makefile
!/MANIFEST.in
!/pytest.ini
!/README.md
!/setup.cfg
!/setup.py
!/tests/
!/TODO.md
!/tox.ini
!/versioning.py
!shell.nix
*__pycache__*
